@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  background: #fff;
  color: #171717;
}

.hero-bg {
  background-image: url('/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
